---
const { name, type, startDate, endDate, rating } = Astro.props;
---

<li class="flex flex-col gap-1 !p-0">
  <div class="flex items-center justify-between">
    <div>
      <span class="text-xl">{name}</span><span class="text-sm !text-accent italic">: {type}</span>
    </div>

    <div class="text-sm text-accent">{rating}/10</div>
  </div>
  <div class="text-xs">
    {startDate} → {endDate}
  </div>
</li>
