---
import NavLink from "./NavLink.astro";
import { siteConfig } from "@/config/site";

let currentPath = Astro.url.pathname;
const pathSegments = currentPath.split("/").filter(Boolean);
const cleanPath =
  pathSegments.length >= 2
    ? `/${pathSegments[0]}/...`
    : `/${pathSegments[0] || ""}`;

const navLinks = [
  { name: "Projects", href: "/projects" },
  { name: "Writing", href: "/writing" },
];
---

<header
  class="flex flex-col justify-between bg-bar px-12 py-3 text-bar-foreground sm:flex-row sm:items-center relative"
>
  <div class="flex items-center justify-between">
    <div class="font-display text-xl">
      <a href="/">{siteConfig.name}</a>
      <span class="text-[10px] text-background/90 sm:hidden font-mono">
        {cleanPath}
      </span>
    </div>
  </div>

  <nav id="main-nav" aria-label="Main navigation" class="pt-6 sm:pt-0">
    <div class="flex items-start gap-6">
      {navLinks.map((link) => <NavLink href={link.href}>{link.name}</NavLink>)}
    </div>
  </nav>
</header>
