---
import Home from "@/content/home.mdx";
import MainLayout from "@/layouts/mainLayout.astro";
import ContentHeader from "@/components/layout/ContentHeader.astro";
import { siteConfig } from "@/config/site";
---

<MainLayout title="index" enableProse={true}>
  <ContentHeader slot="header" title={siteConfig.name}>
    <a href={siteConfig.links.github}>GitHub</a> •
    <a href={siteConfig.links.bluesky}>Bluesky</a> •
    <a href={siteConfig.links.x}>X</a> • Discord: @{siteConfig.links.discord}
  </ContentHeader>
  <Home />
</MainLayout>
