---
import projects from "@/data/projects.json";
import MainLayout from "@/layouts/mainLayout.astro";
import ContentHeader from "@/components/layout/ContentHeader.astro";
import ProjectCard from "@/components/projects/ProjectCard.astro";
import { siteConfig } from "@/config/site";
import type { Projects, Project } from "@/types/projects";

const projectsData: Projects = projects;

let layoutProps = {
  title: "projects",
  description: "Projects I've made",
  enableProse: true,
};
---

<MainLayout {...layoutProps}>
  <ContentHeader slot="header" title="Projects">
    Check out my <a href={siteConfig.links.github}>Github</a> for all my projects.
  </ContentHeader>

  <ul class="grid grid-cols-1 md:grid-cols-2 gap-[2rem_1.5rem] !mt-5 !p-0">
    {
      projectsData.map((project: Project) => (
        <ProjectCard
          slug={project.slug}
          name={project.name}
          description={project.description}
          link={project.link}
          tech={project.tech}
          type={project.type}
        />
      ))
    }
  </ul>
</MainLayout>
