---
import { getProjects, ProjectsType } from "@/data/projects.ts";
import Default from "@/layouts/Default.astro";
import ContentHeader from "@/layouts/components/ContentHeader.astro";
import ProjectCard from "./_components/ProjectCard.astro";
import { siteConfig } from "@/config/site";

const projectsData: ProjectsType[] = getProjects();

let layoutProps = {
  title: "Projects",
  description: "Projects I've made",
  enableProse: true,
};
---

<Default {...layoutProps}>
  <ContentHeader slot="header" title="Projects">
    Check out my <a href={siteConfig.links.github}>GitHub</a> for all my projects.
  </ContentHeader>

  <ul class="grid grid-cols-1 md:grid-cols-2 gap-[2rem_1.5rem] !mt-5 !p-0">
    {
      projectsData.map((project: ProjectsType) => (
        <ProjectCard
          slug={project.slug}
          name={project.name}
          description={project.description}
          link={project.link}
          tech={project.tech}
          type={project.type}
        />
      ))
    }
  </ul>
</Default>
