---
import { getCollection, getEntry, type CollectionEntry } from "astro:content";
import Default from "@/layouts/Default.astro";
import Comments from "./_components/Comments.astro";
import Tag from "./_components/Tag.astro";
import { formateDate } from "@/lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("writing");

  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;
const post: CollectionEntry<"writing"> | undefined = await getEntry(
  "writing",
  slug!,
);

if (!post) {
  return Astro.redirect("/404");
}

const { title, description, date, tags } = post.data;
const { Content } = await post.render();

if (!date) {
  console.error(`Post ${slug} is missing a date!`);
  return Astro.redirect("/404");
}

const isoStringDate = date.toISOString();
const formattedDate = formateDate(date);
let layoutProps = {
  title: title,
  description: description,
  enableProse: true,
  publishedTime: isoStringDate,
};
---

<Default {...layoutProps}>
  <div slot="header" class="text-sm flex justify-between items-center !mt-3">
    <div>
      <time
        datetime={isoStringDate}
        transition:name=`writing-${title}-${isoStringDate}`
        >{formattedDate}</time
      >
      {
        tags && (
          <>
            <span>·</span>
            <div class="inline-flex gap-1">
              {tags.map((tag) => (
                <Tag tag={tag} />
              ))}
            </div>
          </>
        )
      }
    </div>

    <a href="/writing" class="text-xs">← Go back</a>
  </div>

  <Content />
  <Comments />
</Default>
