---
import Writing from "@/content/writing.mdx";
import { getCollection } from "astro:content";
const posts = await getCollection("writing");
import MainLayout from "@/layouts/mainLayout.astro";
import { formateDate } from "@/lib/utils";
---

<MainLayout title="writing">
  <Writing />
  <ul class="!mt-5 flex flex-col gap-6 !p-0">
    {
      posts.map((post) => {
        const { title, date, edited, description } = post.data;

        const isoStringDate = date ? date.toISOString() : null;
        const formattedDate = date ? formateDate(date) : "Date not available";

        const isoStringEdited = edited ? edited.toISOString() : null;
        const formattedEdited = edited ? formateDate(edited) : null;

        return (
          <li class="list-none gap-1 !p-0">
            <article class="flex flex-col gap-1 p-2">
              <div class="flex items-start justify-between gap-2">
                <h3 class="!border-b-0 !font-body">
                  <a href={`/writing/${post.slug}`}>{title}</a>
                </h3>
                <div class="text-sm">
                  <time dateTime={isoStringDate}>{formattedDate}</time>
                  {edited && (
                    <time
                      dateTime={isoStringEdited}
                      class="!text-muted-foreground"
                    >
                      {" "}
                      (last edited {formattedEdited})
                    </time>
                  )}
                </div>
              </div>
              <p class="!mt-0 !text-muted-foreground">{description}</p>
            </article>
          </li>
        );
      })
    }
  </ul>
</MainLayout>
