---
import { siteConfig } from "@/config/site";

interface Props {
  name: string;
  description: string;
  link?: string;
  slug: string;
  tech: string[];
  type?: string;
}

const { name, description, link, slug, tech, type } = Astro.props;
---

<li class="flex min-h-full flex-col justify-between gap-1 !p-0">
  <div>
    <a
      class="font-semibold !text-foreground dark:!border-b-foreground/15 !border-b-foreground/10 hover:!border-b-foreground/60 hover:dark:!bg-foreground/10 hover:!bg-foreground/5"
      href={`${siteConfig.links.github}/${slug}`}
      aria-label={`View ${name} on GitHub`}
      target="_blank">{name}</a
    >: {description}
  </div>
  <div class="flex items-end justify-between text-sm">
    <div class="max-w-[60%]">
      <mark>{tech.join(" · ")}</mark>
    </div>
    <div class="flex gap-2">
      <a
        href={`${siteConfig.links.github}/${slug}`}
        aria-label={`View ${name} on GitHub`}>github</a
      >
      {
        link && (
          <a href={link} aria-label={`View ${name} on ${type}`}>
            {type}
          </a>
        )
      }
    </div>
  </div>
</li>
