---
import { siteConfig } from "@/config/site";

interface Props {
  name: string;
  description: string;
  link?: string;
  slug: string;
  tech: string[];
  type: string;
}

const { name, description, link, slug, tech, type } = Astro.props;
---

<li class="flex min-h-full flex-col justify-between gap-1 !p-0">
  <div>
    <a
      href={`${siteConfig.links.github}/${slug}`}
      aria-label={`View ${name} on GitHub`}>{name}</a
    >: {description}
  </div>
  <div class="flex justify-between items-end text-sm">
    <mark class="max-w-[60%]">{tech.join(", ")}</mark>
    <div class="flex gap-2">
      <a
        href={`${siteConfig.links.github}/${slug}`}
        aria-label={`View ${name} on GitHub`}>github</a
      >
      {
        link && (
          <a href={link} aria-label={`View ${name} on ${type}`}>
            {type}
          </a>
        )
      }
    </div>
  </div>
</li>
