---
import { siteConfig } from "../../config/site";

interface Props {
  name: string;
  description: string;
  link?: string;
  slug: string;
  tech: string[];
  type: string;
}

const { name, description, link, slug, tech, type } = Astro.props;
---

<li class="mb-2">
  <span class="group relative">
    <a
      class="text-link"
      aria-label={`View ${name} on GitHub`}
    >
      {name}
    </a>
    <div
      role="tooltip"
      aria-hidden="true"
      class="top-[calc(100% - 1px)] invisible absolute left-0 z-10 mt-2 w-full max-w-sm min-w-sm scale-95 transform bg-foreground p-4 opacity-0 shadow-lg transition-all duration-150 ease-in-out group-hover:visible group-hover:scale-100 group-hover:opacity-100"
    >
      <div
        class="flex w-full flex-wrap items-center justify-between gap-3 text-xs"
      >
        <div class="font-body font-medium !text-background">
          {tech.join(" - ")}
        </div>
        <div class="flex gap-4">
          <a
            href={`${siteConfig.links.github}/${slug}`}
            class="border-none !text-background/80 hover:!text-background"
          >
            GitHub
          </a>
          {
            link && (
              <a
                href={link}
                class="border-none !text-background/80 first-letter:uppercase hover:!text-background"
              >
                {type}
              </a>
            )
          }
        </div>
      </div>
    </div>
  </span>
  <span>: {description}</span>
</li>
